body {
  background-color: #f9fafb;
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'Simulacro';
  src: url('./assets/Simulacro.ttf.woff') format('woff'),
    url('./assets/Simulacro.ttf.svg#Simulacro') format('svg'),
    url('./assets/Simulacro.ttf.eot'),
    url('./assets/Simulacro.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.recipe-holder {
  display: flex;
  background-color: #f6f5f3;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin: auto;
}

.search-button {
  width: 5%;
  border-radius: 5px;
  border: 1px solid grey;
}

.introduction {
  margin-left: 10%;
  width: 20%;
  display: inline;
  font-family: 'Simulacro';
  border-bottom: 1px solid black;
  height: 10vh;
  font-size: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: wrap;
}

.chef-hat {
  margin-right: 3%;
}

.loading-gif {
  width: 100vh;
  height: 100vh;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}