body {
  background-color: #f9fafb;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Simulacro';
  src: url('./assets/Simulacro.ttf.woff') format('woff'),
    url('./assets/Simulacro.ttf.svg#Simulacro') format('svg'),
    url('./assets/Simulacro.ttf.eot'),
    url('./assets/Simulacro.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.recipe-holder {
  display: flex;
  background-color: #f6f5f3;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 98%;
  margin: auto;
}

.introduction {
  margin-left: 5%;
  width: 40%;
  display: inline;
  font-family: 'Simulacro';
  border-bottom: 1px solid black;
  height: 10vh;
  font-size: 5vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-wrap: nowrap;
}

.chef-hat {
  margin-right: 3%;
  margin-bottom: 3%;
}

.loading-gif {
  width: 100vh;
  height: 100vh;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .chef-hat {
    margin-bottom: 1%;
    width: 8%;
  }
}

@media only screen and (min-width: 992px) {

  .recipe-holder {
    display: flex;
    background-color: #f6f5f3;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;
  }
  

.introduction {
  margin-left: 10%;
  width: 20%;
  display: inline;
  font-family: 'Simulacro';
  border-bottom: 1px solid black;
  height: 10vh;
  font-size: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
}

.chef-hat {
  margin-right: 3%;
}

.loading-gif {
  width: 100vh;
  height: 100vh;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

}