body {
    background-color: #f9fafb;
}

.recipe{
    width: 90%;
    margin: auto;
}

.title {
    color: #69c6a8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recipeContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

.image {
    margin-right: 20px;
}

.ingredients {
    display: inline;
}

h2 {
    margin-bottom: 2%;
}

.list {
    display: inline;
    
}

ul {
    list-style: none;
}

hr {
    margin-right: 100%;
    border: 3px solid red;
    border-radius: 5px;
    width: 10%;
}

